@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:400,700&display=swap');

h1, h2, h3, h4{
  font-family: 'Playfair Display', serif;
}

h1,
.h1--size{
  font-size: 40px;
}
h2,
.h2--size{
  font-size: 32px;
}
h3,
.h3--size{
  font-size: 24px;
}
h4,
.h4--size{
  font-size: 18px;
}
